/*.root :disabled {*/
/*  cursor: not-allowed;*/
/*  transparent: 0.6;*/
/*  opacity: 0.6;*/
/*}*/

.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}