.root {
  //margin-top: 40px;
  //margin-bottom: 20px;
  //margin-left: 40px;
  //padding: 10px;
  //margin: 20 auto;
  justify-content: center;
  padding: 32px 0;
  display: flex;

}

.imgWrap {
  padding: 12px 0;
  text-align: center;
}

.btnWrap {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}